<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drink</title>
</head>

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="jumbotron text-center  bg-light">
    <div class="container-fluid">
      <h1 class="jumbotron-heading font-weight-bold">Drinks of West Coast</h1>


    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">

            <%= image_tag("drinks/1.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>

            <div class="card-body">
              <h2>Vodka Absolut Elyx</h2>
              <p class="card-text">Absolut Elyx is a luxury vodka. The main ingredients are winter wheat and pristine
                water. It has a clean and fresh flavor, with subtle floral and fruity tones, and a texture that is
                determined by how vodka feels in the mouth.
                <br> Its content is 42% alcohol and is usually taken in a wide glass with ice, decorated with a strip of
                freshly cut lemon peel or star anise.</p>
              <h4 class="card-text text-center">€45EUR</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/2.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 485px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Vodka Ciroc</h2>
              <p class="card-text">Cîroc vodka is an Ultra-Premium Vodka, it was created in 2003 in the south of France
                and we are talking about one of the few vodkas in the world that is made with the best French grapes
                instead of using the typical cereals. It is a luxury vodka, exquisite, elegantly smooth and
                sophisticated.</p>
              <br>
              <br>
              <h4 class="card-text text-center">€30EUR</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/3.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Belvedere Vodka</h2>
              <p class="card-text">Belvedere Vodka is a super premium vodka created based on the Polish tradition of
                more than 600 years in the purest traditional Polish style.
                <br> 700 milliliters of an impeccable presentation in glass, with 1.2 kilograms. Distilled and filtered
                to create a pure flavor that will impress your palate, it is a product that you should not stop buying.
                You'll love it.</p>

              <h4 class="card-text text-center">€39EUR</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/4.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Johnnie Walker</h2>
              <p class="card-text">Since 1820 this whiskey has been proudly walking the name of the Scottish region of
                Kilmarnock. With almost two centuries of life, many are the children that this distillery has generated
                in the form of bottles, from its icon; Johnnie Walker Red Label.</p>

              <h4 class="card-text text-center">€50EUR</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/5.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Jack Daniels</h2>
              <p class="card-text">The three cereals that make up his recipe (barley, corn and rye), the water from the
                underground Lynchburg cave, and a unique yeast for the fermentation of malt.</p>
              <br>
              <br>
              <h4 class="card-text text-center">€45EUR</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/6.png", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Chivas</h2>
              <p class="card-text">Chivas Regal 12 Year Old: blend based on aged whiskeys of at least 12 years old. It
                is a soft drink with an aged and sweet taste.</p>
              <br>
              <br>
              <br>
              <h4 class="card-text text-center">€25EUR</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/7.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Diplomático</h2>
              <p class="card-text">It is a balanced composition of complex rums distilled in copper stills and light
                rums distilled in columns, made from sugar cane molasses and molasses.</p>
              <br>
              <br>
              <br>
              <h4 class="card-text text-center">€52EUR</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/8.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Buchanans</h2>
              <p class="card-text">Buchanan’s signature mild and delicate flavor was born 135 years ago, when James
                Buchanan, a leading entrepreneur, created the refined blend that is recognized and appreciated to this
                day.</p>
              <br>
              <br>

              <h4 class="card-text text-center">€55EUR</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("drinks/9.jpg", :alt => "2", class: "card-img-top", alt: "Thumbnail [100%x225]", style:"height: 425px; width: 100%; display: block;" )%>
            <div class="card-body">
              <h2>Cane Flower</h2>
              <p class="card-text">Cane Flower 25 Years rum is produced using only 100% natural ingredients, distilled
                up to five times to obtain maximum purity alcohol and aged under the 'Slow-Aged' process.</p>
              <br>
              <br>
              <br>
              <h4 class="card-text text-center">€32EUR</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>