<p id="notice"><%= notice %></p>
<h1>Ingrese su codigo </h1>
<form>
 <input name="q" <%= @q %> >
 <button type="submit">Buscar</button>
</form>


 
  
        <% @product.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.story %></td>
            <td><%= product.price %></td>
            
            
          </tr>
        <% end %>
     

<br>


<br>
<br>
<br>

