<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <title>WestCoast</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<div class="container-fluid fixed-top" id="cabecera">
  <nav class="navbar navbar-expand-sm navbar-fluid">
    <a class="navbar-brand"><%= link_to image_tag("logo.jpeg", :alt => "logo", style: "height: 95px; width: 120px;"), root_path %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uno" id="menu">
      <ion-icon name="menu-outline"></ion-icon>
    </button>
    <div class="collapse navbar-collapse" id="uno">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <h4 class="font-italic"><%= link_to "Inicio", root_path, class:"nav-link", id:"pepe" %></h4>
        </li>
        <li class="nav-item">
          <h4 class="font-italic"><%= link_to "Westcoast", westcoast_path, class:"nav-link", id:"pepe"  %></h4>
        </li>
        <li class="nav-item">
          <h4 class="font-italic"><%= link_to "Drink", drink_path, class:"nav-link", id:"pepe"  %></h4>
        </li>
        <li class="nav-item">
          <h4 class="font-italic "><%= link_to "Clothes", clothes_path, class:"nav-link", id:"pepe"  %></h4>
        </li>
        <%- if user_signed_in?%>
        <li>
          <h4 class="font-italic"><%= link_to "Mi Perfil", '#', class:"nav-link", id:"pepe"  %></h4>
        </li>
        <li>
          <h4 class="font-italic">
            <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"nav-link", id:"pepe"  %></h4>
        </li>
        <% else %>
        <li>
          <h4 class="font-italic"><%= link_to "Log in", new_user_session_path, class:"nav-link", id:"pepe"  %></h4>
        </li>
        <% end %>
        <%- if administrator_signed_in? %>
        <li>
          <h4 class="font-italic"><%= link_to "Administrador", administrator_path,  class:"nav-link", id:"pepe"  %></h4>
        </li>
        <li>
          <h4 class="font-italic">
            <%= link_to "Salir", destroy_administrator_session_path, method: :delete, class:"nav-link", id:"pepe"  %>
          </h4>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
<!--ESTILO DEL HEAD FIN-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
  <%= yield %>

  <!-- Footer -->
  <footer class="font-italic page-footer pt-4" id="test">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" id="piedepagina">
      <!-- Grid row -->
      <div class="row">
        <!-- Primera column -->
          <!-- Contacto -->
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase">Contact</h5>
            <p>We would like to accompany you in your happy moments:</p>
            <br>
             <h6><span class="fa fa-globe fa-1x mb-1" aria-hidden="true"></span> information@westcoast.com</h6>
            </i>
          </div>
          <!-- Segunda column -->
          <!-- Tambien -->
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Also</h5>
            <ul class="list-unstyled">
              <a class="btn btn-dark btn-social mx-2" href="#" id="logo"><i class="fab fa-instagram"></i></a>
            </ul>
          </div>
          <!-- Tercera column -->
          <!-- Aun no llamas -->
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">you still haven't called?</h5>
              <br>
               <h6><span class="fa fa-phone fa-1x mb-1" aria-hidden="true"></span>(+57)3000000000</h6>
          </div>

      </div>
    
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright: WestCoast
      </div>

    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>


</body>

</html>